@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Comfortaa", sans-serif;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: "Lilita One", Impact, sans-serif;
    font-size: 30px;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding: 10px;
}

input, textarea {
    font-family: "Comfortaa", sans-serif;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spacer {
    margin: 5em auto;
}

.nodecor {
    text-decoration: none;
}

.customhide {
    display: none;
}

.flash {
    margin: 1.5em auto 0;
    font-size: 30px;
}

.page-footer {
    padding: 0;
}

.btn {
    border-radius: 16px;
    font-family: "Lilita One", Impact, sans-serif;
    background-color: #d84315;

    &:hover {
        background-color: #efebe9;
        color: #d84315;
    }
}

.brand-logo {
    font-family: "Lilita One", Impact, sans-serif;
}

#loginpage, #registerpage {
    background-color: #212121;
    color: white;
}

#loginpage input, #registerpage input {
    background-color: #efebe9;
    color: #212121;
    border-radius: 16px;
    text-align: center;
}

#loginpage input::placeholder, #registerpage input::placeholder {
    color: #9e9e9e;
    opacity: 1; /* Firefox */
}
  
#loginpage input::-ms-input-placeholder, #registerpage input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #9e9e9e;
}

.loginbtn {
    font-size: x-large;
    height: 56px;
}

.registerlink {
    margin: 5em auto;
}

#logindiepic {
    max-height: 160px;
}

/* code snippet from https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.allcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 40%;
}

#logincontainer, #registercontainer {
    top: 57%;
}

#notloggedinbtn {
    width: fit-content;
    margin: 0 auto;
}

#list_name {
    font-size: 30px;
    font-family: "Lilita One", Impact, sans-serif;
}

.nobottommargin {
    margin-bottom: 0;
}

#logo {
    height: 1.9em;
    width: 1.9em;
}

/* card style borrowed from https://css-tricks.com/block-links-the-search-for-a-perfect-solution/ and edited */
.cardimport {
    background: white;
    border-radius: 16px;
    box-shadow: 0 0.3rem #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
    margin: 30px;
}

.main-link {
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.cardactive {
    &:hover {
        transform: translateY(-10px);
    }
}

.deletebtn {
    background-color: none;
    border: 1px solid black;
}

.newbutton {
    width: fit-content;
    font-size: larger;
    font-weight: 600;
    background-color: #d84315;
    text-decoration: none;
    text-align: center;
}

.newbutton a {
    color: white;
}

#newlistcardbutton a {
    padding: 1rem 1.5rem;
}

.rolldiebtn {
    height: fit-content;
    cursor: pointer;
}

.listviewdie {
    width: 5em;
}

#rollresultdiv {
    display: none;
}

.listitem {
    padding: 1rem 1.5rem;
}

.notesview {
    margin: 0 10%;
}

.itemnum {
    font-size: x-large;
}

.vfill {
    height: 100%;
}

#dicepick {
    margin: 20px 0;
}

.dicerow {
    height: 25vh;
    /* background-color: blue; */
}

.dicediv {
    height: 60%;
    /* background-color: blueviolet; */
}

.dicetextdiv {
    height: 40%;
}

#profile-icon {
    margin: 0 18px;
}

#categoryp {
    color: blue;
    cursor: pointer;
}

#switchp {
    margin-right: 2em;
    font-weight: 700;
}

.nodecor {
    text-decoration: none;
}

@media only screen and (min-width: 993px) {
    nav .brand-logo {
      left: 18px;
    }
}

@media only screen and (max-width: 600px) {
    #logincontainer {
      width: auto;
    }
}