@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Comfortaa", sans-serif;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: "Lilita One", Impact, sans-serif;
    font-size: 30px;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding: 10px;
}

input, textarea {
    font-family: "Comfortaa", sans-serif;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spacer {
    margin: 5em auto;
}

.nodecor {
    text-decoration: none;
}

.customhide {
    display: none;
}

.flash {
    margin: 1.5em auto 0;
    font-size: 30px;
}

.modal {
    border-radius: 16px;
    background-color: #efebe9;
    color: #212121;
}

.modal .modal-footer {
    background-color: #efebe9;
    font-weight: 700;
}

.page-footer {
    padding: 0;
}

.btn {
    border-radius: 16px;
    font-family: "Lilita One", Impact, sans-serif;
    background-color: #d84315;
    text-decoration: none;

    &:hover {
        background-color: #efebe9;
        color: #d84315;
    }
}

.btn a {
    color: white;
    &:hover {
        color: #d84315;
    }
}

.brand-logo {
    font-family: "Lilita One", Impact, sans-serif;
}

#loginpage, #registerpage {
    background-color: #212121;
    color: white;
}

#loginpage input, #registerpage input {
    background-color: #efebe9;
    color: #212121;
    border-radius: 16px;
    text-align: center;
}

#loginpage input::placeholder, #registerpage input::placeholder {
    color: #9e9e9e;
    opacity: 1; /* Firefox */
}
  
#loginpage input::-ms-input-placeholder, #registerpage input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #9e9e9e;
}

.loginbtn {
    font-size: x-large;
    height: 56px;
}

.registerlink {
    margin: 5em auto;
}

#logindiepic {
    max-height: 160px;
}

/* code snippet from https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.allcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 40%;
}

#logincontainer, #registercontainer {
    top: 57%;
}

#notloggedinbtn {
    width: fit-content;
    margin: 0 auto;
}

#list_name {
    font-size: 30px;
    font-family: "Lilita One", Impact, sans-serif;
}

.nobottommargin {
    margin-bottom: 0;
}

#logo {
    height: 1.9em;
    width: 1.9em;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #ff7043;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #d84315;
}

/* card style borrowed from https://css-tricks.com/block-links-the-search-for-a-perfect-solution/ and edited */
.cardimport {
    background: white;
    border-radius: 16px;
    box-shadow: 0 0.3rem #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
    margin: 30px;
}

.cardimport a {
    color: #000;
    font-weight: 700;
}

.main-link {
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.cardactive {
    &:hover {
        transform: translateY(-10px);
    }
}

.deletebtn {
    background: none;
    color: #d84315;;

    &:hover {
        background-color: #ffccbc;
    }
}

.newbutton {
    width: fit-content;
    font-size: larger;
    font-weight: 600;
    background-color: #d84315;
    text-decoration: none;
    text-align: center;
}

.newbutton a {
    color: white;
}

#newlistcardbutton a {
    padding: 1rem 1.5rem;
}

.rolldiebtn {
    height: fit-content;
    cursor: pointer;
}

.listviewdie {
    width: 5em;
}

#rollresultdiv {
    display: none;
}

.listitem {
    padding: 1rem 1.5rem;
}

.notesview {
    margin: 0 10%;
}

.notestxt {
    font-weight: 700;
}

.itemnum {
    font-size: x-large;
}

.vfill {
    height: 100%;
}

#dicepick {
    margin: 20px 0;
}

.dicerow {
    height: 25vh;
    /* background-color: blue; */
}

.dicediv {
    height: 60%;
    /* background-color: blueviolet; */
}

.dicetextdiv {
    height: 40%;
}

#profile-icon {
    margin: 0 18px;
}

#categoryp {
    color: blue;
    cursor: pointer;
}

#switchp {
    margin-right: 2em;
    font-weight: 700;
}

.nodecor {
    text-decoration: none;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
    margin: 1em 2em;
    height: 50px;
    width: 50px;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
    width: 50px;
    height: 50px;
}

.c-red{
    background-color: #ef5350;
}
.category-red:not(:checked)+span:before {
    background-color: #ef5350;
}
.category-red:checked+span:after {
    background-color: #ef5350;
    border: #212121 solid 3px;
}

.c-pink{
    background-color: #ec407a;
}
.category-pink:not(:checked)+span:before {
    background-color: #ec407a;
}
.category-pink:checked+span:after {
    background-color: #ec407a;
    border: #212121 solid 3px;
}

.c-purple{
    background-color: #ab47bc;
}
.category-purple:not(:checked)+span:before {
    background-color: #ab47bc;
}
.category-purple:checked+span:after {
    background-color: #ab47bc;
    border: #212121 solid 3px;
}

.c-blue{
    background-color: #42a5f5;
}
.category-blue:not(:checked)+span:before {
    background-color: #42a5f5;
}
.category-blue:checked+span:after {
    background-color: #42a5f5;
    border: #212121 solid 3px;
}

.c-cyan{
    background-color: #26c6da;
}
.category-cyan:not(:checked)+span:before {
    background-color: #26c6da;
}
.category-cyan:checked+span:after {
    background-color: #26c6da;
    border: #212121 solid 3px;
}

.c-teal{
    background-color: #26a69a;
}
.category-teal:not(:checked)+span:before {
    background-color: #26a69a;
}
.category-teal:checked+span:after {
    background-color: #26a69a;
    border: #212121 solid 3px;
}

.c-green{
    background-color: #7bbb66;
}
.category-green:not(:checked)+span:before {
    background-color: #7bbb66;
}
.category-green:checked+span:after {
    background-color: #7bbb66;
    border: #212121 solid 3px;
}

.c-lime{
    background-color: #d4e157;
}
.category-lime:not(:checked)+span:before {
    background-color: #d4e157;
}
.category-lime:checked+span:after {
    background-color: #d4e157;
    border: #212121 solid 3px;
}

.c-yellow{
    background-color: #ffee58;
}
.category-yellow:not(:checked)+span:before {
    background-color: #ffee58;
}
.category-yellow:checked+span:after {
    background-color: #ffee58;
    border: #212121 solid 3px;
}

.c-orange{
    background-color: #ffa726;
}
.category-orange:not(:checked)+span:before {
    background-color: #ffa726;
}
.category-orange:checked+span:after {
    background-color: #ffa726;
    border: #212121 solid 3px;
}

.c-brown{
    background-color: #8d6e63;
}
.category-brown:not(:checked)+span:before {
    background-color: #8d6e63;
}
.category-brown:checked+span:after {
    background-color: #8d6e63;
    border: #212121 solid 3px;
}

.c-grey{
    background-color: #bdbdbd;
}
.category-grey:not(:checked)+span:before {
    background-color: #bdbdbd;
}
.category-grey:checked+span:after {
    background-color: #bdbdbd;
    border: #212121 solid 3px;
}

span.checkmark.darkmode:before {
    border: #e0e0e0 solid 2px !important;
}

span.checkmark.darkmode:after {
    border: white solid 3.5px;
}




/* --------------------------------------------------------------------------------------------------------------------- */



@media only screen and (min-width: 993px) {
    nav .brand-logo {
      left: 18px;
    }
}

@media only screen and (max-width: 600px) {
    #logincontainer {
      width: auto;
    }
}