{% extends "base.html" %}
{% block title %}Add a new category{% endblock %}
{% block content %}

    <h1 class="center">Create a new category...</h1>

    <form class="col s12" method="POST" action="{{url_for('addcategory')}}">
        <div class="row">
            <div class="col s2"></div>
            <div class="input-field col s8">
                <input placeholder="Name the new category..." id="category_name" name="category_name" type="text" minlength="3" maxlength="30" class="center validate" required>
            </div>
            <div class="col s2"></div>
        </div>

        <div class="row center">
            <div class="container">
                <div class="row">
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-red" value="red" class="category-red">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-pink" value="pink" class="category-pink">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-purple" value="purple" class="category-purple">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-blue" value="blue" class="category-blue">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-cyan" value="cyan" class="category-cyan">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-teal" value="teal" class="category-teal">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-green" value="green" class="category-green">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-lime" value="lime" class="category-lime">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-yellow" value="yellow" class="category-yellow">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-orange" value="orange" class="category-orange">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-brown" value="brown" class="category-brown">
                        <span class="checkmark"></span>
                    </label>
        
                    <label class="radiocontainer">
                        <input name="colour" type="radio" id="category-blue-grey" value="grey" class="category-grey">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row center">
            <a href="{{url_for('categories')}}" class="btn waves-effect waves-light">Cancel
                <i class="material-icons right">close</i>
            </a>
            <button class="btn waves-effect waves-light" type="submit" name="action">Add category
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>

{% endblock %}