{% extends "base.html" %}
{% block title %}New list{% endblock %}
{% block content %}

<div>
    <div class="row">
        <form class="col s12" method="POST" action="{{url_for('addlist', die=die)}}">
            <div class="row">
                <div class="col s2"></div>
                <div class="input-field col s8">
                    <input placeholder="Name your list..." id="list_name" name="list_name" type="text" minlength="3" maxlength="30" class="center validate" required>
                </div>
                <div class="col s2"></div>
            </div>
            <div class="row center">
                <p id="categoryp">Add category?</p>
                <div class="customhide" id="categoryselect">
                    <div class="col s3"></div>
                    <div class="input-field col s6">
                        <select id="category" name="category">
                            <option value="" disabled selected>Choose category...</option>
                            {% for category in categories %}
                                {% if session.currentuser|lower == category.UserName|lower %}
                                    <option value="{{category.CategoryName}}">{{category.CategoryName}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col s3"></div>
                </div>
            </div>
            
            {% for num in range(1, die+1) %}

                <div class="row valign-wrapper">
                    <div class="col s1 center">
                        <p class="itemnum">{{num}}.</p>
                    </div>
                    <div class="input-field col s10">
                        <input id="listitem{{num}}" name="listitem{{num}}" type="text" class="validate" required>
                    </div>
                    <div class="col s1">
                        <a class="btn-floating btn-small waves-effect waves-light red right tooltipped notesbtn" id="notesbtn{{num}}" data-position="top" data-tooltip="Add notes..."><i class="material-icons">notes</i></a>
                    </div>
                </div>
                <div class="row customhide" id="notes{{num}}">
                    <div class="col s1"></div>
                    <div class="col s10 input-field">
                        <textarea id="linote{{num}}" name="linote{{num}}" type="textfield" maxlength="500"></textarea>
                    </div>
                    <div class="col s1"></div>
                </div>
            
            {% endfor %}            
            
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>



{% endblock %}