<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="brown lighten-5">
    <header>    
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                <a href="{{url_for('list_view')}}" class="brand-logo">Roll4</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="{{url_for('userprofile', username=session['currentuser'])}}" data-target="mobile-demo" class="right" id="profile-icon"><i class="material-icons">account_circle</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('list_view')}}">Your lists</a></li>
                    <li><a href="{{url_for('newlist')}}">New list</a></li>
                    <li class="login-logout">
                        {% if sessioncookie %}
                            <a href="{{url_for('logout')}}">Log out</a>
                        {% else %}
                            <a href="{{url_for('login')}}">Log in</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('list_view')}}">Your lists</a></li>
            <li><a href="{{url_for('newlist')}}">New list</a></li>
            <li class="login-logout">
                {% if sessioncookie %}
                    <a href="{{url_for('logout')}}">Log out</a>
                {% else %}
                    <a href="{{url_for('login')}}">Log in</a>
                {% endif %}
            </li>
        </ul>
    </header>

    <section>
        {% with flashes = get_flashed_messages() %}
            {% if flashes %}
                {% for flash in flashes %}
                    <div class="row">
                        <h4>{{flash}}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}


    </main>
    <footer class="page-footer grey darken-4">
        <div>
            <div class="container center">
                <p>Footer... might be deleted later! Who knows!</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>