{% extends "base.html" %}
{% block title %}Your categories{% endblock %}
{% block content %}

    <h4 class="center">Your categories</h4>

    <div class="cardimport row">
        <div class="col s12">
            <a href="{{url_for('addcategory')}}">New category...</a>
            <i class="material-icons right">add</i>
        </div>
    </div>

    {% for category in categories %}
        {% if session.currentuser|lower == category.UserName|lower %}
            <div class="cardimport">
                <a href="{{url_for('editcategory', categoryid=category._id)}}">{{category.CategoryName}}</a>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}