{% extends "base.html" %}
{% block title %}Edit list{% endblock %}
{% block content %}

<div>
    <div class="row">

        <!-- form to edit the list -->
        <form class="col s12" method="POST" action="{{url_for('editlist', listid=listid)}}">
            
            <!-- input for the list name with the current name pre-filled -->
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <input placeholder="Edit your list name..." value="{{userlist['ListName']}}" id="list_name" name="list_name" type="text" minlength="3" maxlength="30" class="center validate" required>
                </div>
            </div>

            <!-- category selection dropdown menu; shown/hidden when the user clicks on the paragraph -->
            <div class="row center">

                <!-- the clickable paragraph toggling the display of the select element -->
                <p id="categoryp">Change category?</p>

                <!-- the hidden category selection dropdown menu -->
                <div class="customhide" id="categoryselect">
                    <div class="input-field col s6 offset-s3">
                        <select id="category" name="category">
                            <option value="" disabled selected>Choose category...</option>

                            <!-- only shows categories belonging to the currently logged in user  -->
                            {% for category in categories %}
                                {% if session.currentuser|lower == category.UserName|lower %}
                                    <!-- pre-selects the current category if it's the currently chosen one  -->
                                    {% if category.CategoryName == userlist['Category'] %}
                                        <option value="{{category.CategoryName}}" selected>{{category.CategoryName}}</option>
                                    {% else %}
                                        <option value="{{category.CategoryName}}">{{category.CategoryName}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <!-- show an option to remove category from a list if the list already has a category assigned to it -->
                            {% if userlist['Category'] != "" %}
                                <option value="">[remove category]</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            
            <!-- loops through the items in the list and pre-fills the values -->
            {% for num in range(1, userlist['Die']+1) %}
                
                <!-- list item input field with an 'add notes' button -->
                <div class="row valign-wrapper">
                    <div class="col s1 center">
                        <p class="itemnum">{{num}}.</p> <!-- displays the number of the current list item -->
                    </div>

                    <!-- list item input field -->
                    <div class="input-field col s10">
                        <input id="listitem{{num}}" value="{{userlist['ListItems'][num|string]}}" name="listitem{{num}}" type="text" class="validate" required>
                    </div>

                    <!-- 'add notes' button -->
                    <div class="col s1">
                        <a class="btn-floating btn-small waves-effect waves-light red right tooltipped notesbtn" id="notesbtn{{num}}" data-position="top" data-tooltip="Edit notes..."><i class="material-icons">notes</i></a>
                    </div>
                </div>

                <!-- hidden notes section - shown/hidden when the user clicks on the associated 'add notes' button -->
                <div class="row customhide" id="notes{{num}}">
                    <div class="col s10 offset-s1 input-field">
                        <textarea id="linote{{num}}" name="linote{{num}}" type="textfield" maxlength="500">{{userlist['ListItemNotes'][num|string]}}</textarea>
                    </div>
                </div>
            {% endfor %}            
            
            <!-- cancel and save changes buttons -->
            <div class="row center">
                <a href="{{url_for('listview', listid=listid)}}" class="btn waves-effect waves-light">Cancel
                    <i class="material-icons right">close</i></a>
                <button class="btn waves-effect waves-light" type="submit" name="action">Save changes
                    <i class="material-icons right">check</i>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}