<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>Error 500: Internal Server Error</title>
</head>
<body class="errorpage">
    <section>
        {% with flashes = get_flashed_messages() %}
            {% if flashes %}
                {% for flash in flashes %}
                    <div class="row center">
                        <h2 class="flash">{{flash}}</h2>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main>
        <div class="allcenter errorcontainer">
            <div class="container row center">
                <img src="{{url_for('static', filename='images/d20shadowhite.png')}}" id="logindiepic">
            </div>
            <div>
                <div class="row center">
                    <h1>Internal Server Error!</h1>
                    <h2>Oops! Something seems to have gone wrong with the web server. Huh! Wonder what it is.</h2>
                    <p>Please try again later!</p>
                </div>
                <div class="row center">
                    <a href="{{url_for('lists')}}" class="btn waves-effect waves-light">Back to your lists (maybe they work now?!)</a>
                </div>
            </div>
        </div>
    </main>

</body>

