<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"  type="text/css">

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    
    <!-- error page title -->
    <title>Error 500: Internal Server Error</title>
</head>
<body class="errorpage">
    
    <!-- flash messages section -->
    <section>
        {% with flashes = get_flashed_messages() %}
            {% if flashes %}
                {% for flash in flashes %}
                    <div class="row center">
                        <h2 class="flash">{{flash}}</h2>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- main content of the error page -->
    <main>
        <div class="errorcenter errorcontainer">

            <!-- Roll20 logo -->
            <div class="container row center">
                <img src="{{url_for('static', filename='images/d20shadowhite.png')}}" alt="Roll4 logo" id="logindiepic">
            </div>
            <div>

                <!-- error message displayed to the user -->
                <div class="row center">
                    <h1>Internal Server Error!</h1>
                    <h2>Oops! Something seems to have gone wrong with the web server. Huh! Wonder what it is.</h2>
                    <p>Please try again later!</p>
                </div>

                <!-- button to attempt refreshing or navigating back to the root -->
                <div class="row center">
                    <a href="." class="btn waves-effect waves-light">Try again?</a>
                </div>
            </div>
        </div>
    </main>
</body>

