{% extends "base.html" %}
{% block title %}Your lists{% endblock %}
{% block content %}

    <!-- header -->
    <h1 class="center"> Your lists </h1>

    <!-- button for adding a new list -->
    <div class="row valign-wrapper flexbox">
        <div class="cardimport newbutton">
            <a href="{{ url_for('newlist') }}" class="main-link">
                <i class="material-icons right">add</i>New list...
            </a>
        </div>
    </div>
    
    <!-- checks if there are any d20 lists and, if so, displays them - and so on for each following die category below -->
    {% if d20 | length > 0 %}
        <h4 class="center">d20</h4>

        <!-- loops through each d20 list -->
        {% for list in d20 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}"> <!-- sets the id for the list -->
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    
                    <!-- displays the name of the list -->
                    {{ list.ListName }}

                    <!-- displays the category of the list -->
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d12 | length > 0 %}
        <h4 class="center">d12</h4>
        {% for list in d12 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d10 | length > 0 %}
        <h4 class="center">d10</h4>
        {% for list in d10 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d8 | length > 0 %}
        <h4 class="center">d8</h4>
        {% for list in d8 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d6 | length > 0 %}
        <h4 class="center">d6</h4>
        {% for list in d6 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d4 | length > 0 %}
        <h4 class="center">d4</h4>
        {% for list in d4 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}" id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
{% endblock %}