{% extends "base.html" %}
{% block title %}{{userlist['ListName']}}{% endblock %}
{% block content %}

    <h4 class="center">{{userlist['ListName']}}</h4>

    {% for key, val in userlist['ListItems'].items() %}
            <div class="cardimport notesbtn" id="notesbtn{{key}}">
                {{key + ". " + val}}
            </div>
            <div class="customhide notesview" id="notes{{key}}">
                <p>{{userlist['ListItemNotes'][key]}}</p>
            </div>
    {% endfor %}

{% endblock %}