{% extends "base.html" %}
{% block title %}{{userlist['ListName']}}{% endblock %}
{% block content %}

    <h1 class="center">{{userlist['ListName']}}</h1>

    <div class="flexbox">
        <div class="row valign-wrapper nobottommargin rolldiebtn">
            <div class="col"><p>ROLL</p></div>
            {% if darkmode %}
                <div class="col"><img src="{{url_for('static', filename='images/d' ~ userlist.Die ~ 'white.png')}}" class="listviewdie" alt="Image of a game die"></div>
            {% else %}
                <div class="col"><img src="{{url_for('static', filename='images/d' ~ userlist.Die ~ '.png')}}" class="listviewdie" alt="Image of a game die"></div>
            {% endif %}
            <div class="col"><p>DIE!</p></div>
        </div>
    </div>

    <div class="row nomarginbottom flexbox" id="rollresultdiv">
        <p>You rolled <span id="rollresult"></span>!</p>
    </div>

    {% for key, val in userlist['ListItems'].items() %}
        <div class="noteswrapper">
            <div class="cardimport listitem row
            {% if key|string in userlist['RollHistory']|map('string') %} rolled {% endif %}
            " id="notesbtn{{key}}">
                <div class="col s12 notestxt">
                    <span id="number{{key}}">{{key}}</span>{{". " + val}}
                    <i class="material-icons right"></i>
                </div>
            </div>
            <div class="customhide notesview" id="notes{{key}}">
                <p>{{userlist['ListItemNotes'][key]}}</p>
            </div>
        </div>
    {% endfor %}

    <form class="row flexbox" method="POST">
        <p class="col" id="switchp"><i class="material-icons left tooltipped" data-position="top" data-tooltip="Never roll the same thing twice. Allows you to tick things off your list. Refreshes when all the numbers have been rolled.">help</i>Task mode:</p>
        <div class="switch col"> 
            <label class="">
                Off
                {% if userlist.TaskMode == True %}
                    <input type="checkbox" id="taskmode" name="taskmode" checked onchange="this.form.submit()">
                {% else %}
                    <input type="checkbox" id="taskmode" name="taskmode" onchange="this.form.submit()">
                {% endif %}
                <span class="lever"></span>
                On
            </label>
        </div>
    </form>

    <div class="row center">
        <a href="{{url_for('lists')}}" class="btn waves-effect waves-light">Back
            <i class="material-icons left">chevron_left</i>
        </a>
        <a href="{{url_for('editlist', listid=listid)}}" class="btn waves-effect waves-light">Edit list
            <i class="material-icons right">edit</i>
        </a>
        <a href="#listdeletemodal" class="btn waves-effect waves-light modal-trigger deletebtn">
            Delete list
            <i class="material-icons right">delete</i>
        </a>
    </div>

    <div id="listdeletemodal" class="modal">
        <div class="modal-content center">
            <p>Are you sure you want to delete <strong>{{userlist['ListName']}}</strong>?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">No, go back!</a>
            <a href="{{url_for('deletelist', listid=listid)}}" class="modal-close waves-effect waves-green btn-flat">I'm sure!</a>
        </div>
    </div>

    <div class="customhide" id="listidhere">
        {{userlist['_id']}}
    </div>
    <div class="customhide" id="taskmodehere">
        {{userlist['TaskMode']}}
    </div>

{% endblock %}