{% extends "base.html" %}
{% block title %}Your lists{% endblock %}

{% block content %}

    <h1 class="center"> Your lists </h1>

    <div class="row valign-wrapper flexbox">

        <div class="cardimport newbutton">
            <a href="{{ url_for('newlist') }}" class="main-link">
                <i class="material-icons right">add</i>New list...
            </a>
        </div>

    </div>
    

    {% if d20 | length > 0 %}
        <h4 class="center">d20</h4>
        {% for list in d20 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d12 | length > 0 %}
        <h4 class="center">d12</h4>
        {% for list in d12 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d10 | length > 0 %}
        <h4 class="center">d10</h4>
        {% for list in d10 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d8 | length > 0 %}
        <h4 class="center">d8</h4>
        {% for list in d8 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d6 | length > 0 %}
        <h4 class="center">d6</h4>
        {% for list in d6 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}
            " id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if d4 | length > 0 %}
        <h4 class="center">d4</h4>
        {% for list in d4 %}
            <div class="cardimport cardactive
            {% for category in categories %}
                {% if list.Category == category.CategoryName %}
                    c-{{category.CategoryColour}} colour
                {% endif %}
            {% endfor %}" id="{{list._id}}">
                <a href="{{ url_for('listview', listid=list._id) }}" class="main-link">
                    {{ list.ListName }}
                    <span class="right">[{{list.Category}}]</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
{% endblock %}