{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block content %}

    <form method="POST" action="{{url_for('login')}}">
        <div>
            <div>
                <input type="text" placeholder="Enter username..." id="user_name" name="user_name" minlength="3" maxlength="30" required>
                <label for="user_name">Username</label>
            </div>
            <div>
                <input type="password" placeholder="Enter password..." id="user_password" name="user_password" minlength="8" maxlength="30" required>
                <label for="user_password">Password</label>
            </div>
        </div>
        <div>
            <button type="submit">Let's roll!</button>
        </div>
    </form>

    <div class="container">
        <p>No account? <a href="{{url_for('register')}}">Register</a></p>
    </div>


{% endblock %}