{% extends "base.html" %}
{% block title %}New list{% endblock %}
{% block content %}

<!-- block links - do later: https://www.geeksforgeeks.org/how-to-convert-a-div-into-a-link-in-html/ -->

<div id="dicepick">
    <!-- row 1 -->
    <div class="row s12 dicerow">
        <div class="col s4 center vfill">
            <div class="dicediv valign-wrapper">
                {% if darkmode %}
                    <img src="{{url_for('static', filename='images/d4white.png')}}">
                {% else %}
                    <img src="{{url_for('static', filename='images/d4.png')}}">
                {% endif %}
            </div>
            <div>
                <p><a href="{{url_for('addlist', die='4')}}">d4</a></p>
            </div>
        </div>
        <div class="col s4 center vfill">
            <div class="dicediv valign-wrapper">
                {% if darkmode %}
                    <img src="{{url_for('static', filename='images/d6white.png')}}">
                {% else %}
                    <img src="{{url_for('static', filename='images/d6.png')}}">
                {% endif %}
            </div>
            <div>
                <p><a href="{{url_for('addlist', die='6')}}">d6</a></p>
            </div>
        </div>
        <div class="col s4 center vfill">
            <div class="dicediv valign-wrapper">
                {% if darkmode %}
                    <img src="{{url_for('static', filename='images/d8white.png')}}">
                {% else %}
                    <img src="{{url_for('static', filename='images/d8.png')}}">
                {% endif %}
            </div>
            <div>
                <p><a href="{{url_for('addlist', die='8')}}">d8</a></p>
            </div>
        </div>
    </div>
    <!-- row 2 -->
    <div class="row s12 dicerow">
        <div class="col s4 center vfill">
            <div class="dicediv valign-wrapper">
                {% if darkmode %}
                    <img src="{{url_for('static', filename='images/d10white.png')}}">
                {% else %}
                    <img src="{{url_for('static', filename='images/d10.png')}}">
                {% endif %}
            </div>
            <div>
                <p><a href="{{url_for('addlist', die='10')}}">d10</a></p>
            </div>
        </div>
        <div class="col s4 center vfill">
            <div class="dicediv valign-wrapper">
                {% if darkmode %}
                    <img src="{{url_for('static', filename='images/d12white.png')}}">
                {% else %}
                    <img src="{{url_for('static', filename='images/d12.png')}}">
                {% endif %}
            </div>
            <div>
                <p><a href="{{url_for('addlist', die='12')}}">d12</a></p>
            </div>
        </div>
        <div class="col s4 center vfill">
            <div class="dicediv valign-wrapper">
                {% if darkmode %}
                    <img src="{{url_for('static', filename='images/d20white.png')}}">
                {% else %}
                    <img src="{{url_for('static', filename='images/d20.png')}}">
                {% endif %}
            </div>
            <div>
                <p><a href="{{url_for('addlist', die='20')}}">d20</a></p>
            </div>
        </div>
    </div>
</div>   
    
{% endblock %}