{% extends "base.html" %}
{% block title %}User profile{% endblock %}

{% block content %}

    <h1 class="center">Hello, {{username}}</h1>

    <form class="row flexbox" method="POST" action="{{url_for('userprofile', username=username)}}">
        <p class="col" id="switchp">Dark mode:</p>
        <div class="switch col"> 
            <label class="">
                Off
                {% if user.darkmode == True %}
                    <input type="checkbox" id="darkmode" name="darkmode" checked onchange="this.form.submit()">
                {% else %}
                    <input type="checkbox" id="darkmode" name="darkmode" onchange="this.form.submit()">
                {% endif %}
                <span class="lever"></span>
                On
            </label>
        </div>
    </form>

    <div class="center">
        <a href="#profiledeletemodal" class="deep-orange-text text-darken-3 nodecor modal-trigger" id="profiledelete">
            Delete profile
        </a>
    </div>

    <div id="profiledeletemodal" class="modal">
        <div class="modal-content center">
            <p>Are you sure you want to delete your account?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">No, go back!</a>
            <a href="{{url_for('deleteuser', username=username)}}" class="modal-close waves-effect waves-green btn-flat">I'm sure!</a>
        </div>
    </div>

{% endblock %}